.post-card {
  margin: 1rem auto;
  border: 1px solib black;
  border-radius: 12px;
  max-width: 300px;
  max-height: 150px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type: none;
  padding: 0;
}

.post-card a {
  display: block;
  height: 100px;
  padding: 10px;
  width: 280px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.welcome-bar {
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  background-color: rgb(42, 99, 160);
  margin: 1rem 6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}