{% extends "base.html" %}

{% block page_title %}
  {{ title|title }}
{% endblock %}

{% block content %}
  {% comment %} {% include "challenges/includes/header.html" with active_page="challenge" %} to pass context {% endcomment %}
  
  <h1> {{ title|title }}</h1>
  <h5> By {{ author }} </h5>
  <h5> Last update: {{ last_update }} </h5>
  {% if image_url is not None %}
    {{ image_url }}
  {% else %}
    <p class="fallback">There is no image for this post yet!</p>
  {% endif %}
  <h2>{{ content }}</h2>
{% endblock %}