{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {{ post.title|title }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
  <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block content %}
  {% include "blog/includes/header.html" %}
  <div class="post">
    <div class="post-header" style="background-image: linear-gradient(to right, rgba(49, 50, 51, 0.768), rgba(99, 96, 98, 0)), url('../../static/blog/images/{{ post.image_name }}');">
      <div class="post-header-info">
        <h2> {{ post.title|title }}</h1>
        <h5> By {{ post.author }} </h5>
        <h5> Date: {{ post.date|date:"d-M-y" }} </h5>
        <p>
          {% for tag in post.tags.all %}
            <span class="tag">
              {{ tag.caption }}
            </span>            
          {% endfor %}
        </p>
      </div>
      
    </div>
    <div class="content">
      <p>{{ post.content|linebreaks }}</p>
    </div>
  </div> 
{% endblock %}