{% extends "base.html" %}
{% load static %}

{% block page_title %}
  {{ title|title }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
  <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block content %}
  {% include "blog/includes/header.html" %}
  <div class="post">
    <div class="post-header" style="background-image: linear-gradient(to right, rgba(49, 50, 51, 0.768), rgba(99, 96, 98, 0)), url('{{ image_url }}');">
      <div class="post-header-info">
        <h2> {{ title|title }}</h1>
        <h5> By {{ author }} </h5>
        <h5> Last update: {{ last_update|date:"d-M-y" }} </h5>
      </div>
      
      {% comment %} {% if image_url is not None %}
        <img class="image" src="{{ image_url }}" alt="Beth Harmon studying chess" />
      {% else %}
        <p class="fallback">There is no image for this post yet!</p>
      {% endif %} {% endcomment %}

      {% comment %} -----
      <img src="{$ static "blog/images/"|add:post.image %}" alt="{{ post.title }}"> {% endcomment %}
    </div>
    <div class="content">
      <p>{{ content|linebreaks }}</p>
    </div>
  </div> 
{% endblock %}